{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>BloodDonation</title>
</head>
<body>
        <form action="/profile" method="POST">
            {% csrf_token %}
            <input name="username" placeholder="Username" />
            <input name="email" placeholder="Email"/>
            <input name="password" placeholder="Password"/>
            <button type="submit">LOGIN</button>
            <a >If you don't have an account</a>
        </form>
</body>
</html>